body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.my-list {
    background-color: #f7f381;
    padding: 8px 24px;
    width: 500px;
    text-size: 30px;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
    text-align: center;
}

.my-list p {
    text-align: center;
}

ol {
    margin: 12px;
    text-align: left; 
}
